/* Generic Active Yandex Button Yellow*/
button.yellow_btn {
    font-family: 'YS Text', serif;
    background: #FFCC00;
    border: 1px solid #FFCC00;
    box-sizing: border-box;
    border-radius: 4px;
    transition: background-color 2s;
}
button.yellow_btn:disabled {
    cursor: default;
    background: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    transition: background-color 2s;
}
button.yellow_btn:enabled:hover {
    background: #F2C200;
    cursor: pointer;
    transition: background-color 2s;
}
button.yellow_btn:focus {
    border: 2px solid #B38F00;
    box-sizing: border-box;
    border-radius: 4px;
    transition: background-color 2s;
}
button.yellow_btn:enabled {
    background: #FFCC00;
}

/* Generic Active Yandex Button Grey*/
button.grey_btn {
    background: #E6E6E6;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 4px;
    transition: background-color 2s;
}
button.grey_btn:disabled {
    cursor: default;
    background: #DBDBDB;
    border: 1px solid #DBDBDB;
    border-radius: 4px;
    transition: background-color 2s;
}
button.grey_btn:enabled:hover {
    background: #DBDBDB;
    cursor: pointer;
    transition: background-color 2s;
}
button.grey_btn:focus {
    background: #E6E6E6;;
    border: 2px solid #B3B3B3;
    box-sizing: border-box;
    border-radius: 4px;
    transition: background-color 2s;
}
button.grey_btn:enabled {
    background: #E6E6E6;
}
