.container_commit {
    box-sizing:border-box;
    padding: 12px 24px 12px 56px;
    width:calc(100vw - 200px);
    height: 68px;
    margin-top: 8px;
    margin-right: 100px;
    margin-left: 100px;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 0px 1px rgba(67, 68, 69, 0.3), 0px 1px 1px rgba(67, 68, 69, 0.3);
    border-radius: 6px;
    transition-duration: 0.2s;
}
.container_commit:hover {
    background: #FFFFFF;
    box-shadow: 0px 0px 1px rgba(67, 68, 69, 0.3), 0px 2px 8px rgba(67, 68, 69, 0.3);
    border-radius: 6px;
    transition-duration: 0.2s;
}
.grid_left_block {
    /*display: flex;*/
}
.grid_left_bottom_block {
    overflow: hidden;
    display: inline-flex;
    /*align-items: center;*/
    justify-content: flex-start;
    flex-wrap: wrap;
    font-size: 13px;
    line-height: 16px;
    margin-top: 12px;
}
.grid_right_block {
    opacity: 0.7;
    width: 110px;
    font-size: 13px;
    float: right;
}
.grid_top_icon {
    position: absolute;
    top: 13.34px;
    left: 25.34px;
    max-width: 24px;
    max-height: 24px;
}
.grid_top_left {
    display: flex;
    align-items: center;
}
.user_span {
    display: flex;
}
.time_icon_grid {
    margin: 0 4px 0 0;
    opacity: 0.35;
}
.commit_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100vw - 200px);
    margin-top: 8px;
    /*margin-right: 100px;*/
    /*margin-left: 100px;*/
    background: #FFFFFF;
    box-shadow: 0px 0px 1px rgba(67, 68, 69, 0.3), 0px 1px 1px rgba(67, 68, 69, 0.3);
    border-radius: 6px;
}

.commit_block_main {
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
}
.commit_block_time {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    flex-wrap:wrap;
}
.one_row {
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-size: 13px;
    line-height: 16px;
}
.date_row {
    margin-bottom: 12px;
}
.time_icon {
    margin-right: 5px;
    opacity: 0.65;
    width: 13.95px;
    height: 16px;
}
.trunk {
    margin: 0;
}
.commit_icon {

}
svg {
    margin: 0;
}
.commit_message_tag {
    color:#00B341;
    line-height: 20px;
    font-size: 18px;
    font-weight: 500;
    float: left;
    margin: 0 4px 0 0;
}
.commit_message_ {
    font-size: 15px;
}

.commit_message {
    font-size: 15px;
    line-height: 20px;
    margin: 0 4px 0 0;
}

.commit_message_bottom_block {
    display: flex;
    font-size: 13px;
    line-height: 16px;
    white-space: break-spaces;
    margin: 0;
}
.commit_message_bottom_block_nested {
    margin: 0 4px 0 0;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
}
.hashCommit {
    color: #000000;
    opacity: 0.65;
}
.show {
    display: none;
    width: 245px;
    height: 1px;
    background: #F0F2F3;
}
@media screen and (max-width: 480px) {
    .trunk {
        margin: auto;
    }
    .commit_message_tag {
        color:#00B341;
        font-size: 16px;
        font-weight: 500;
        line-height: 16px;
        float: left;
        margin-bottom: 8px;
    }
    .commit_message {
        font-size: 15px;
        line-height: 20px;
        word-break: break-word;
    }
    .container_commit {

        min-width: 288px;
        width: calc(100vw - 32px);
        height: fit-content;
        box-sizing: border-box;
        padding: 16px 12px 16px 36px;
        display: grid;
        grid-template-rows: repeat(4, fit-content(100%));
        grid-template-columns: repeat(1, auto);
        grid-template-areas:
            "a"
            "b"
            "c"
            "d";
        margin-top: 8px;
        margin-right: 16px;
        margin-left: 16px;
        background: #FFFFFF;
        box-shadow: 0px 0px 1px rgba(67, 68, 69, 0.3), 0px 1px 1px rgba(67, 68, 69, 0.3);
        border-radius: 6px;
    }
    .grid_top_icon {
        position: absolute;
        top: 16.9px;
        left: 12.9px;
        max-width: 14px;
        max-height: 14px;
    }
    .grid_left_block {
        height: fit-content;
    }
    .grid_top_left {
        grid-area: a;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: baseline;
        margin-bottom: 8px;
    }
    .grid_left_bottom_block {
        height: fit-content;
        grid-area: b;
        display: block;
        margin-top: 0;
        margin-bottom: 0;
    }
    .user_span {
        margin-top: 8px;
    }
    .show {
        display: block;
        align-self: center;
        grid-area: c;
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .grid_right_block {
        grid-area: d;
        width: 100%;
        display: flex;
        align-items: center;
    }
    .one_row {
        margin-right: 8px;
        display: flex;
        justify-content: space-between;
    }
    .date_row {
        margin-bottom: 0;
    }
}
