.App {
  display: flex;
  flex-direction: column;
}

.container {
  min-height: calc(100vh - 80px);
}

.content {
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.unlink {
  text-decoration: none;
  color: black;
  font-family: 'YS Text', serif;
}

@media screen and (max-width: 480px) {
  .container {
    min-height: calc(100vh - 120px);
  }
  /*Check next is useless or not*/
  .content {
    min-height: calc(100vh - 120px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

/*@media (min-width: 1025px) {*/
/*    body {*/
/*        --mg-default: calc((100vw - 1024px) / 2);*/
/*        margin: 0 var(--mg-default) 0 var(--mg-default);*/
/*    }*/
/*}*/
