@import url(//yastatic.net/s3/frontend/yandex-font/v0.0.2/browser.css);

body {
  margin: 0;
  padding: 0;
  font-family: 'YS Text', serif;
  --blue-grey-500: #7F8285;
  --red-600: #E00000;
  --blue-grey-50: #F0F2F3;
  --color-bg-action: #FFCC00;
  --color-bg-control: #E6E6E6;
}

span label div p {
  font-family: 'YS Text', serif;
}
